@{
    ViewData["Title"] = "Home Page";
}


<!-- Carousel Start -->
<div class="container-fluid p-0 mb-4">
    <div class="owl-carousel header-carousel position-relative">
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="UserAssets/img/carousel-2.jpg" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
                 style="background: rgba(24, 29, 56, .7);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            <h5 class=" text-uppercase mb-3 animated slideInDown" style="color: #fb873f;">
                                Welcome to
                                SkillUp
                            </h5>
                            <h1 class="display-3 text-white animated slideInDown">
                                Interactive Learning Experience
                            </h1>
                            <p class=" text-white mb-4 pb-2">
                                Engage with interactive lessons, quizzes, and
                                projects. Experience hands-on learning that keeps you motivated and inspired.
                            </p>
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <a asp-controller="Account" asp-action="RegisterStudent" class="btn btn-light py-md-3 px-md-5 animated slideInRight">
                                    Join
                                    Now
                                </a>
                            }

                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->
<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-2 text-center">
            <div class="col-12 wow fadeInUp" data-wow-delay="0.3s">
                <h1 style="color: #fb873f;">Invest in your professional goals with SkillUp</h1>
                <p class="mb-5">
                    Get unlimited access to over 90% of courses, Projects, Specializations, and
                    Professional Certificates on Coursera, taught by top instructors.
                </p>
            </div>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item text-center pt-3 shadow">
                    <div class="p-4">
                        <img src="UserAssets/img/icon1.png" alt="" width="60px" class="mb-4">
                        <h5 class="mb-3">Learn anything</h5>
                        <p>Explore any interest or trending topic, take prerequisites, and advance your skills</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item text-center pt-3 shadow">
                    <div class="p-4">
                        <img src="UserAssets/img/icon2.png" alt="" width="60px" class="mb-4">
                        <h5 class="mb-3">Save money</h5>
                        <p>Spend less money on your learning if you plan to take multiple courses this year</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item text-center pt-3 shadow">
                    <div class="p-4">
                        <img src="UserAssets/img/icon3.png" alt="" width="60px" class="mb-4">
                        <h5 class="mb-3">Flexible learning</h5>
                        <p>
                            Learn at your own pace, move between multiple courses, or switch to a different course
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item text-center pt-3 shadow">
                    <div class="p-4">
                        <img src="UserAssets/img/icon4.png" alt="" width="60px" class="mb-4">
                        <h5 class="mb-3">Unlimited certificates</h5>
                        <p>Earn a certificate for every learning program that you complete at no additional cost</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Courses Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center px-3">Popular Courses</h6>
            <h1 class="mb-5" style="color: #fb873f;">Explore new and trending online courses</h1>
        </div>
        @{
            var trendingCourses = ViewBag.TrendingCourses as List<SkillUP.VMs.AdminDashboardVMs.MangerCoursesVMs.NewCoursesVM>;
        }

        @if (trendingCourses != null && trendingCourses.Any())
        {
            @Html.Partial("HomeCoursesSection", trendingCourses)
        }
        else
        {
            <p>No courses available at the moment.</p>
        }
        



    </div>
</div>

<div class="container text-center">
    <a class="btn text-light py-3 px-5 mt-2 mb-5" asp-controller="Home" asp-action="GetAllCourses"  > All Courses</a>
</div>
<!-- Courses End -->
<!-- Banner-2 Start -->
 @if (!User.Identity.IsAuthenticated)
{
    <div class="container-xxl py-5 pt-5 bg-light">
        <div class="container p-5">
            <div class="row g-5 ">

                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="img-fluid position-absolute w-100 h-100" src="UserAssets/img/banner-2.png" alt=""
                             style="object-fit: cover;">
                    </div>
                </div>

                <div class="col-lg-6 p-5 wow fadeInUp" data-wow-delay="0.3s">

                    <h1 class="mb-4" style="color: #fb873f;">Become an Instructor</h1>
                    <p class="mb-4">
                        Instructors from around the world teach millions of learners on Udemy. We provide
                        the tools and skills to teach what you love.
                    </p>

                    <a class="btn text-light py-3 mt-2" asp-controller="Account" asp-action="RegisterInstructor">Start Teaching Today</a>
                </div>

            </div>
        </div>
    </div>
}

<!-- Banner-2 End -->
