
@using SkillUP.VMs.AdminDashboardVMs.MangerCoursesVMs
@model AddCourseVM



<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width" />
	<title>AddCourses</title>
</head>

<body class="nav-md">
	<div class="right_col" role="main">
		<div class="">
			<div class="page-title">
				<div class="title_left">
					<h3>Manage Courses</h3>
				</div>

				<div class="title_right">
					<div class="col-md-5 col-sm-5  form-group pull-right top_search">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Search for...">
							<span class="input-group-btn">
								<button class="btn btn-default" type="button">Go!</button>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="row">
				<div class="col-md-12 col-sm-12 ">
					<div class="x_panel">
						<div class="x_title">
							<h2>Add Course</h2>
							<ul class="nav navbar-right panel_toolbox">
								<li>
									<a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
								</li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-wrench"></i></a>
									<ul class="dropdown-menu" role="menu">
										<li>
											<a class="dropdown-item" href="#">Settings 1</a>
										</li>
										<li>
											<a class="dropdown-item" href="#">Settings 2</a>
										</li>
									</ul>
								</li>
								<li>
									<a class="close-link"><i class="fa fa-close"></i></a>
								</li>
							</ul>
							<div class="clearfix"></div>
						</div>


						<div class="x_content">
							<br />

							<form asp-controller="AdminDashboard" asp-action="AddCourse" method="post" enctype="multipart/form-data" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">

								<div class="item form-group">
									<label asp-for="Title" class="col-form-label col-md-3 col-sm-3 label-align"></label>
									<div class="col-md-6 col-sm-6 ">
										<input asp-for="Title" class="form-control ">
										<span asp-validation-for="Title" class="text-danger"></span>
									</div>
								</div>


								<div class="item form-group">
									<label asp-for="Description" class="col-form-label col-md-3 col-sm-3 label-align"></label>
									<div class="col-md-6 col-sm-6 ">
										<textarea id="tiny" asp-for="Description" class="form-control">Description</textarea>
										<span asp-validation-for="Description" class="text-danger"></span>
									</div>
								</div>



								<div class="item form-group">
									<label for="InstructorId" class="col-form-label col-md-3 col-sm-3 label-align">Select Instructor</label>
									<div class="col-md-6 col-sm-6 ">
										<select asp-for="InstructorId" class="form-control" asp-items="@(new SelectList(Model.Instructor, "Id", "FullName"))">
										</select>
										<span asp-validation-for="InstructorId" class="text-danger"></span>

									</div>
								</div>



								<div class="item form-group">
									<label asp-for="Price" class="col-form-label col-md-3 col-sm-3 label-align"></label>
									<div class="col-md-6 col-sm-6 ">
										<input asp-for="Price" class="form-control">
										<span asp-validation-for="Price" class="text-danger"></span>
									</div>
								</div>


								<div class="item form-group">
									<label asp-for="TotalHours" class="col-form-label col-md-3 col-sm-3 label-align"></label>
									<div class="col-md-6 col-sm-6 ">
										<input asp-for="TotalHours" class="form-control">
										<span asp-validation-for="TotalHours" class="text-danger"></span>
									</div>
								</div>



								<div class="item form-group">
									<label asp-for="ImgUrl" class="col-form-label col-md-3 col-sm-3 label-align">Upload Image</label>

									<div class="col-md-6 col-sm-6 ">
										<input asp-for="ImageFile" type="file" class="form-control">
										<span asp-validation-for="ImageFile" class="text-danger"></span>
									</div>
								</div>

								<div class="item form-group">
									<label asp-for="promotionVideoUrl" class="col-form-label col-md-3 col-sm-3 label-align"></label>
									<div class="col-md-6 col-sm-6 ">
										<input asp-for="promotionVideoUrl" type="url" class="form-control">
										<span asp-validation-for="promotionVideoUrl" class="text-danger"></span>

									</div>
								</div>


								<div class="ln_solid"></div>
								<div class="item form-group">
									<div class="col-md-6 col-sm-6 offset-md-3">
										<a asp-controller="AdminDashboard" asp-action="GetAllCourses" class="btn btn-danger">Cancel</a>
										<button type="submit" class="btn btn-success">Add</button>
									</div>
								</div>

							</form>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>




</body>
</html>
@await Html.PartialAsync("_Notifications")

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
